.dnd-library-wrapper .editor-item .meta.type-text {
  background-image: url('icons/text.png');
}
.scald-menu .add-buttons .add-text {
  background: url('icons/text-large-inverted.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-text:hover {
  background-image: url('icons/text-large-color.png');
}
